<html>
    <head>
        <title>Janell is so koolio</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Janell's koolio blog</a></h1>
        </div>

        <div>
            <p>published: 21.07.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I have had the awesome opportunity to learn some basics of coding and creating my own blog. Once someone told me this typically takes 1-2 semesters to learn this information i realized wow its okay to not be perfect.</p>
        </div>

        <div>
            <p>published: 21.07.2018, 12:18</p>
            <h2><a href="">My second post</a></h2>
            <p>I am still cool but sleepy. bye</p>
        </div>
    </body>
</html>
